.alt-header {
    display: flex;
    margin-top: 40px;
    padding: 0 var(--horizontal-space);
    justify-content: space-between;
    align-items: center;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}